.about {
  &__description {
    --min-text-width: 100%;
    width: clamp(328px, var(--min-text-width), 1150px);
    @include lgMinBreakPoint {
      --min-text-width: 62%;
      margin: 0 auto;
    }
  }
}
