.application {
  & .page-container {
    padding: clamp(2rem, 6vw, 4rem) var(--page-container-padding-x)
      var(--page-container-padding-x);
  }
  &__header {
    font-size: clamp(24px, 2.35vw, 40px);
    text-align: center;
    margin-bottom: clamp(2rem, 3.75vw, 4rem);
    color: var(--color-dark-500);
  }
  &__button {
    background-color: var(--color-dark-700);
    color: var(--color-light);
    &:disabled {
      opacity: 0.8;
    }
    &:not(:disabled) {
      cursor: pointer;
      @media (hover: hover) {
        &:hover {
          color: var(--color-accent-700);
        }
      }

      &:active,
      &:focus {
        outline: var(--color-light) 2px solid !important ;
        color: var(--color-accent-500);
      }
    }
  }
  &__input {
    &::placeholder {
      opacity: 0.6;
    }
    color: var(--color-dark-700);
    background-color: var(--color-light);
    padding-left: clamp(24px, 4vw, 74px);
  }
  &__button,
  &__input {
    padding-top: clamp(32px, 4.1vw, 72px);
    padding-bottom: clamp(32px, 4.1vw, 72px);
    font-size: clamp(20px, 2.25vw, 40px);
  }
}
#application {
  &__form {
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    row-gap: 1rem;
    @include mdMinBreakPoint {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 1rem;
    }
  }
}
