.sponsorship {
  margin: 0 auto;
  @include customMinBreakPoint(45em) {
    width: clamp(328px, 65%, 1226px);
  }
  .link {
    margin: 0 auto;
    height: 192px;
    @include lgMinBreakPoint {
      width: clamp(660px, 41.5vw, 768px);
      height: clamp(125px, 9.5vw, 167px);
    }
  }
  &__logo {
    margin-bottom: 2rem;
    @include customMinBreakPoint(45em) {
      margin-bottom: 3rem;
    }
  }
  &__info {
    margin-bottom: 2.5rem;
    @include customMinBreakPoint(45em) {
      margin-bottom: 4rem;
    }
  }
}
